@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Sedan:ital@0;1&display=swap');

.pacifico-regular {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
  }

.sedan-regular {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

body {
    font-family:  "Sedan", serif;
    background-color: rgba(112, 79, 36, 0.411);
}

header {
    display: flex;
    justify-content: space-around;
    height: 150px;
    background-color:  rgb(239, 227, 211);
    color:rgb(99, 59, 24);
    align-items: center;
}

#logo-img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

#links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

#links a {
    text-decoration: none;
    color: rgb(99, 59, 24);
    font-size: 1.2rem;
    border-bottom: 3px solid transparent;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

#links a:hover {
    border-bottom: 3px solid rgb(99, 59, 24);
    color: rgb(149, 108, 54);
    transform: scale(1.01);
}

#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    background-color:rgb(99, 59, 24);
}

#carousel img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#main-new {
    width: 70%;
    background-color: rgba(137, 88, 31, 0.249);
    margin: 20px auto;
    padding: 20px;
}

#aside {
    width: 28%;
    background-color: rgba(173, 101, 19, 0.249);
    margin: 20px;
    padding: 20px;
}

main {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
}